.hero {
  padding-top: 270px;
  background-size: contain;
  background-repeat: no-repeat;

  &_text-block {
    display: flex;
    align-items: flex-start;


    &_social-links {
      display: flex;
      flex-flow: column nowrap;
      align-items: center;

      &-list {
        display: flex;
        flex-flow: column nowrap;

        &_item {
          padding: 25px 0;
          color: #1a1a1d;
          font-size: 18px;

          &:hover {
            color: #d0e2e2;
          }
        }
      }

      &_vertical-line {
        margin-top: 200px;
        width: 2px;
        height: 60px;
        background-color: #1a1a1d;
      }

      &_number {
        display: inline-block;
        margin-top: 70px;
        color: #1a1a1d;
        font-size: 18px;
        transform: rotate(-90deg);
      }
    }

    &_slide {
      position: relative;
      display: flex;
      flex-flow: column nowrap;
      margin: 0 70px 0 230px;
      background-size: contain;
      background-repeat: no-repeat;
      max-width: 1100px;
      width: 100%;
      img{
        width: 100%;
        height: auto;
      }

      &-text{
  position: absolute;
  top: calc((100% - 280px)/2);
  left: 0;
  margin-left: -80px;
}
      &_title {
        max-width: 500px;
        font-family: 'Poppins', sans-serif;
        font-size: 101px;
        margin-bottom: 80px;
      }

      &_desc {
        font-weight: 600;
        font-size: 17px;
        text-transform: uppercase;
      }
    }
  }

  &_count-block {
    display: flex;
    align-items: center;
    align-self: flex-end;
    &-list {
      display: flex;
      flex-flow: column nowrap;
      &_item {
        padding: 25px 0;
        font-size: 18px;

        &:hover {
          color: #d0e2e2;
        }
      }
    }
  }

  &_horizontal-line {
    margin-left: 100px;
    height: 2px;
    width: 55px;
    background-color: #1a1a1d;
  }
}

.post_link{
  position: absolute;
  left: 0;
  bottom: 0;
  margin-left: -235px;
  display: flex;
  color: #fff;

  &-text{
    padding: 50px 60px;
    background-color: #b4d3d3;
    box-sizing: border-box;
    font-size: 14px;
    font-weight: 400;
    text-transform: uppercase;
    &:hover{
      padding: 49px 59px;
      background-color: #fff;
      border: 1px solid #b4d3d3;
    }
  }
  &-icon{
    display: flex;
    align-items: center;
    padding: 0 40px;
    color: #1a1a1d;
    background-color: #fff;
    font-size: 30px;
  }
}

@media (max-width: 1350px) {
  .hero {
    &_text-block {
      flex-flow: row wrap;
      align-items: flex-start;
      &_social-links{
        flex-flow: row nowrap;
        &-list{
          flex-flow: row nowrap;
          &_item{
            padding: 0 25px;
          }
        }
        &_vertical-line {
          margin: 60px 0 0 0;
          width: 2px;
          height: 60px;
          background-color: #1a1a1d;
          transform: rotate(-90deg)
        }

        &_number {
          margin: 0;
          transform: rotate(0deg);
        }
      }
      &_slide {

        margin: 0 50px;

        &_title {
          max-width: 500px;
          font-family: 'Poppins', sans-serif;
          font-size: 50px;
          margin-bottom: 80px;
        }
      }
    }
    &_count-block {
      &-list {
        margin: 50px;
        display: flex;
        flex-flow: row nowrap;
        &_item {
          padding: 0 25px;
        }
      }
    }
  }
  .post_link {
    margin-left: 0;
  }

}
