.recent-posts {
  padding: 120px 0;

  &_title {
    margin-bottom: 120px;
    color: #1a1a1d;
    font-size: 60px;
    position: relative;
    text-align: center;

    &:after {
      content: '';
      position: absolute;
      bottom: 0;
      left: calc((100% - 150px) / 2);
      margin-bottom: -50px;
      width: 150px;
      height: 2px;
      background-color: #242424;
    }
  }

  &_list {
    display: flex;

    &-items {
      display: flex;
      padding: 0 20px;
      max-width: 32%;
      box-sizing: border-box;

      img {
        min-width: 200px;
        width: 100%;
      }

      &_text-block {
        padding-left: 40px;
        display: flex;
        flex-flow: column nowrap;
        justify-content: space-between;

        &_title {
          color: #1a1a1d;
          font-size: 24px;
          font-weight: 500;

          &:hover {
            color: #87bbbc;
          }
        }

        &_date {
          color: #77777e;
          font-size: 16px;
          font-weight: 400;
        }
      }
    }
  }
}

@media (max-width: 1350px) {
  .recent-posts{
    &_list{
      flex-flow: row wrap;
      &-items{
        padding: 30px 0;
        max-width: 50%;
      }
    }
  }
}

@media (max-width: 1000px) {
  .recent-posts{
    &_list{
      &-items{
        max-width: 100%;
      }
    }
  }
}